<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting Page</title>
    <link rel='stylesheet' href='/stylesheets/chat.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <!-- Search area that will be shown when the input is clicked -->
    <div id="searchArea">
        <h1 id="close"><i class="fa-solid fa-xmark"></i></h1>
        <input id="searchInput" type="text" placeholder="Type to search..." oninput="searchChat()">
        <div id="searchResults"></div>
    </div>

    <!-- Results area where the search results will be displayed -->

    <div class="sideNav1">

        <li><a class="active" href="/chat"><i class="fa-regular fa-comment-dots"></i></a></li>
        <li><a href="/chat"><i class="fa-solid fa-phone"></i></a></li>
        <li><a href="/edit"><i class="fa-solid fa-gear"></i></a></li>
        <li><a href="/chat"><i class="fa-solid fa-trash-can"></i></a></li>
        <li><a href="/chat"><i class="fa-regular fa-star"></i></a></li>
        <li><a href="/profile"><i class="fa-solid fa-address-book"></i></a>
        </li>
    </div>
    <main>
        <div class="sideNav2">
            <div class="SideNavhead">
                <h2>Chats</h2>
            </div>
            <div class="SearchInputHolder" id="open">
                <i class="fa-solid fa-magnifying-glass"></i>
                <p class="searchInput">Search For Chat...</p>
                <hr>
            </div>

            <% posts.reverse().forEach(function (post){%>
                <li class="group" onclick="submitForm('<%=post.postText%>')">
                    <div class="avatar overflow-hidden p-0"><img src="/images/uploads/<%=post.user.profile%>" alt="profile"
                            class="w-100 h-100 object-fit-cover"></div>
                    <p class="GroupName">
                        <%=post.postText%>
                    </p>
                    <p class="GroupDescrp">
                        <%=post.question%>
                    </p>
                </li>
                <%})%>
        </div>
        <section class="Chat">
            <div class="ChatHead">
                <li class="group">
                    <div class="avatar"></div>
                    <p class="GroupName">Topic</p>
                </li>
            </div>
            <div class="MessageContainer">
                <span></span>
                <div class="messageSeperator">No Message</div>
            </div>
            <form id="MessageForm" action="">
                <input type="text" id="MessageInput" placeholder="Enter Comments" name="comment" autocomplete="off" />
                <button type="submit" class="Send"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
            <p id="username" style="display: none;"><%= user.username%></p>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
        integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="/javascripts/chat.js"></script>
    <script src="/socket.io/socket.io.js"></script>

</body>

</html>