<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting Page</title>
    <link rel='stylesheet' href='/stylesheets/chat.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <main>
        <div class="sideNav1">

            <li class="active"><i class="fa-regular fa-comment-dots"></i></li>
            <li><i class="fa-solid fa-phone"></i></li>
            <li><i class="fa-solid fa-gear"></i></li>
            <li><i class="fa-solid fa-trash-can"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
            <li><a href="/profile" style="text-decoration: none; color: white;"><i
                        class="fa-solid fa-address-book"></i></a></li>
        </div>
        <div class="sideNav2">
            <div class="SideNavhead">
                <h2>Chats</h2>
                <i class="fa-solid fa-filter"></i>
                <i class="fa-solid fa-user-plus"></i>

            </div>
            <div class="SearchInputHolder">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="searchInput" placeholder="Search For Chat..">
                <hr>
            </div>
            <% posts.forEach(function (post){%>
                <li class="group" onclick="submitForm('chat/<%=post.postText%>')">
                    <div class="avatar overflow-hidden p-0"><img src="/images/uploads/<%=post.user.profile%>" alt=""
                            class="w-100 h-100 object-fit-cover"></div>
                    <p class="GroupName">
                        <%=post.postText%>
                    </p>
                    <p class="GroupDescrp">
                        <%=post.question%>
                    </p>
                </li>
                <%})%>
        </div>
        <section class="Chat" id="chatSection">
            <% if (postes && postes.comments.length > 0) { %>
                <% postes.comments.forEach(function(comment) { %>
                    <div class="message">
                        <p class="messageContent"><%= comment %></p>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No messages</p>
            <% } %>
        </section>
        
    </main>
    <form id="redirectForm" action="#" method="post" style="display: none;">
        <input type="hidden" name="url" id="redirectUrl">
    </form>
    <script>
        function submitForm(url) {
            var form = document.getElementById('redirectForm');
            var redirectUrlInput = document.getElementById('redirectUrl');
            redirectUrlInput.value = url;
            form.action = url; // Set the form action to the URL
            form.submit(); // Submit the form
        }
    </script>
</body>

</html>